@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins';
}

/* LOGIN PAGE CSS */

.login-page {
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.l-content {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  margin-left: 850px;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;

}    

#l-pname{
  position: absolute;
  top: 50px;
  right: 2.5in;
  width: 300px;
  height: auto;

}

#l-plogo {
  position: absolute;
  width: 70px;
  top: 70px;
  right: 5.7in;
}

#l-p {
  display: flex;
  color: black;

  font-family: 'poppins';
}


#l-form {
  align-items: center;
  display: flex;
  flex-direction: row;
}

#l-a1 {
  position: relative;
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-size: 1.2rem;
  font-weight: 550;
  font-family: sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s;
}

#l-a1::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 3rem;
  width: 100%;
  height: 100%;
  padding: 2px;
  background: linear-gradient(135deg, rgb(0, 0, 0) 100%);
  z-index: -1;
}

#l-a1:hover {
  background: rgb(0, 0, 0);
  color: white;
  font-size: 1.3rem;

}

#l-user {
  padding: 5px;
  margin-top: 5px;
}


#l-pass {
  padding: 5px;
  margin-top: 5px;
}


#l-user input {
  border-radius: 9px;
  padding: 8px;
  margin: 5px;
  border: none;
  background: none;

}

#l-pass input {
  border-radius: 9px;
  padding: 8px;
  border: none;
  margin: 5px;
  background: none;
}

#l-icon i {
  padding: 10px;


}

#l-icon i:hover {
  color: rgb(114, 116, 123)fd;
}

#l-rem {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  padding-bottom: 10px;
  padding-top: 15px;

}

#l-rem label {
  padding-right: 20px;
  padding-top: 1px;
  cursor: pointer;
  display: flex;
  gap:5px;
}

#h1 {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  margin-right: 10px;
  
}

#h1 img {
  height: 50px;
  width: 60px;
  padding-right: 10px;
}

#l-p1 {
  font-size: 12px;
  padding-bottom: 10px;
  cursor: pointer;
}

#l-button {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
  margin-top: 10px;

}

#l-button svg {
  height: 24px;
}


#l-pos {
  padding: 5px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;

}


/* LOGIN PAGE CSS END */